{% extends 'base.html.twig' %}
{% block title %}
    Kalivins Portfolio
{% endblock %}
{% block body %}
<div id="app">
  <div v-if="!$data">
    <div class="spinner"></div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}
